body {
    margin: 0px;
}

.container {
    margin: 0px 290px;
}

.header {
    background-color:rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-line {
    padding-top: 72px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header-line:hover {
    color: blue;
}

.home-logo {
    right: 290px;
}

.greenco {  
    margin-top: 489.07px;
    margin-left: 290px;
    display: flex;
    justify-content: center;
}
.subtitle {
    margin: 290px 673px;
    width: 391px;
    height: 56px;
    font-family: 'Akronim', cursive;
    justify-content: left;
}

